body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #444;
}

#wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-family: Times-New-Roman; */
}

#wrapper > h1 {
  margin: 30px 0 25px 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

#wrapper > h1 > a:link,
#wrapper > h1 > a:visited {
  text-decoration: none;
  color: inherit;
}

#wrapper > h1 > a:hover {
  text-decoration: underline;
}

#nav {
  margin: 25px 0;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f7f7f7;
}

#nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#nav > ul > li {
  padding: 0 10px;
  display: inline;
}

#nav > ul > li > a:link,
#nav > ul > li > a:visited {
  color: #888;
  text-decoration: none;
}

#nav > ul > li > a:hover {
  color: #555;
  text-decoration: underline;
}

#description {
  margin: 25px 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  color: #555;
}

#content {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

a:link,
a:visited {
  color: #03e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#posts .post {
  margin: 1em 0;
}

#posts .post .post_date,
#post .post_date {
  color: #777;
}

#post .post_title {
  margin: 20px 0 5px 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
}

#post .post_date {
  margin-bottom: 30px;
}

#post .post_body pre {
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #bbb;
  color: #444;
}

#post .post_body code {
  font-family: monospace;
  font-size: 0.95em;
}

#post .post_body pre code {
  width: 100% !important;
  max-width: 100% !important;
  overflow: auto !important;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#footer {
  margin: 0;
  margin-top: 60px;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #aaa;
  color: #777;
}




.post-form,
.delete-form {
  margin: 30px 0;
}

.post-form > div {
  margin: 15px 0;
}

.post-form label {
  margin: 0;
  font-size: 18px;
}

.post-form input[type=text],
.post-form textarea {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  font-size: 15px;
  border: 1px solid #777;
  outline: 0;
}

.post-form input[type=text]:focus,
.post-form textarea:focus {
  border-color: #222;
  background: #f5f5f5;
}

.post-form input[type=text] {
  
}

.post-form textarea {
  max-width: 100%;
  height: 200px;
}

#post-form input[type=submit] {
  margin: 5px 0;
  font-size: 15px;
}

#content > h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

.invalid {
  color: #f00;
  text-align: center;
}

#auth-form {
  text-align: center;
}

#auth-form input {
  font-size: 16px;
}

#content img {
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}
